# Task : Iris Flowers Classification ML Project

# Importing Libraries

In [1]:
import numpy as np,pandas as pd

# Loading Data

In [5]:
df = pd.read_csv('iris.csv')
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
x=df.drop(labels='class',axis=1)
y=df['class']

# Train Test Split

In [13]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# Iris Flower Classification Using SVM

In [15]:
from sklearn.svm import SVC
svn = SVC()
svn.fit(x_train, y_train)

SVC()

In [17]:
predictions = svn.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9666666666666667